extends layout

block content

  h1 Books
  p
    a.button(href='/books/new') Create New Book
    form(action="/books", method="get" id="searchForm")
      input(type="search", name="searchTerm", id="search", value=`${searchTerm || ""}`)
      input(type="submit", value="Search" class="button search")
    if message 
      p= message
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year

    tbody
      each book in allBooks
        tr 
          td
             a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  ul.pagination 
    each button in buttons 
      li
        a(class="button", href=`/books?page=${button.buttonNumber - 1}`)= button.buttonNumber

  